@charset "utf-8";
/* 구글 폰트 삽입 */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* 헤더 전체영역  */
#header { background: url(../img/header_bg.jpg) repeat-x center top; }

/* 컨테이너 */
.container { width: 1200px; margin: 0 auto;  /*background: rgba(0,0,0,0.3);*/}

/* 헤더영역 */
.header { height: 327px;}
.header .header-menu { text-align: right; }
.header .header-menu a { color: #ffffff; padding: 8px 0 6px 10px; display: inline-block; 
    transition:  color 0.3s ease;  font-family: 'Abel', sans-serif;} /*a Tag  lnline 이므로 , inline-block 구조로 변경 함 */
.header .header-menu a:hover { color: #ccc;}
/* 헤더 타이틀 */
.header .header-title { text-align: center; text-transform: uppercase; margin-top: 55px; font-family: 'Abel', sans-serif;}
.header .header-title h1 { font-size: 30px; color: #ffffff; background-color: #51b0dc; display: inline-block; 
    padding: 5px 30px 5px 30px; letter-spacing: 2px; font-weight: 900; 
    transition: box-shadow 0.25s ease-in-out;
}
.header .header-title h1:hover { 
    box-shadow: inset -9em 0 0 0 #257fac,
                inset 9em 0 0 0 #257fac;
}
.header .header-title a { font-size: 16px; color: #ffffff; background-color: #4a9abf; display: inline-block; 
    padding: 10px 20px 10px 20px; margin-top: -7px; transition: box-shadow 0.25s ease-in-out;}
.header .header-title a:hover {
    box-shadow: inset 0 0 0 5px rgba(75,154,191,0.9),
                inset 0 0 0 100px rgba(0,0,0,0.1)
}
/* 헤더의 아이콘 영역 */
.header .header-icon { text-align: center; margin-top: 40px; padding-bottom: 45px;}
.header .header-icon li { display: inline; margin: 2 2px;}
.header .header-icon li a { 
    background-color: #319ebf;
    border-radius: 50%;
    width: 60px; height: 60px; color: #fff;
    display: inline-block;  /*  a Tag 가 인라인이므로 block -> inline-block */
    line-height: 60px; /* 중앙정렬*/
    font-size: 35px;
    position: relative;  /* */
    transition: all 0.3s ease;  /* 0.3초 효과 */
}
.header .header-icon li a span {
     opacity: 0;  /*글씨 안보이는 효과 */
     position: absolute;
     left: 50%; top : -40px;
     transform: translateX(-50%);   /* X 위치를 -50% 다시 이동 */
     font-size: 12px;
     line-height: 1.6;
     background: #3192bf;
     padding: 3px 9px;
     border-radius: 6px 0;
     transition: all 0.3s ease;
}
/* 가상요소  하단으로 향하는 삼각형 만들기 */
.header .header-icon li a span::before {
    content: '';
    position: absolute;
    left: 50%; bottom: -5px;
    margin-left: -5px;
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.header .header-icon li a:hover span {
    opacity: 1; 
    top: -33px;
}
/* 마우스가 a Tag 위에 있을 때  안쪽으로 그림자 효과 주기 */
.header .header-icon li a:hover {
    box-shadow: inset 0 0 0 3px rgba(75,154,191,0.9), 
                inset 0 0 0 100px rgba(0,0,0,0.1);
}


/* 미디어 쿼리 */
/* 1200 px*/    
@media (max-width : 1240px) {
    .container { width: 100%;}
    .row { padding: 0 15px; }   /* 메뉴 오른쪽의 여백을 주기 위해 */
}